/* Only pull in Tailwind’s theme variables */
@import "tailwindcss/theme";

/* Add your own design tokens */
@import "./styles/tokens.css" layer(theme);
@import "./styles/theme.css" layer(theme);

/* Pull in Tailwind's reset (normalize/remedy) */
@import "tailwindcss/preflight" layer(base);

/* Your custom components */
@import "./styles/components/button.css" layer(components);
@import "./styles/components/nav-item.css" layer(components);

/* Tailwind’s utility classes */
@import "tailwindcss/utilities";

/* App-specific base styles */
body {
  font-family: var(--font-font-sans);
  font-weight: var(--font-weight-normal);
  color: var(--fg-primary);
  background-color: var(--bg-primary);
  line-height: var(--font-leading-normal);
}
